[Desktop Entry]
Encoding=UTF-8
Name=Matchbox
Comment=This session logs you into Matchbox
Comment[da]=Surf på internettet
Comment[de]=Im Internet surfen
Comment[el]=Μπορείτε να περιηγηθείτε στο διαδίκτυο (Web)
Comment[es]=Navegue por la web
Comment[et]=Lehitse veebi
Exec=matchbox-session
Terminal=False
Icon=
Type=Application
